/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 Jun 2024, 7:28:39 pm
    Author     : Rohit Khanra
*/

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode #dark {
    background-color: #0a0a0b;
    color: white;
}

.dark-mode input, .dark-mode textarea, .dark-mode select {
    background-color: #0a0a0b;
    color: #ffffff;
    border: 1px solid #444444;
}

.dark-mode input[type=file]::file-selector-button {
    background-color: #0a0a0b;
    color: #fff;
}
